{% extends 'app/base.html' %} {% block title %}Change Password - My To Do{% endblock title %} {% block mainContent %}

<section id="section_1" aria-labelledby="change-password-section">
  <h1 class="my-4">Change Password</h1>
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="userId"
          ><i class="required_input"></i>User ID/E-Mail</label
        >
        <input
          type="text" autocomplete="email"
          class="form-control"
          id="userId"
          name="userId"
          placeholder="Enter Your User ID"
          {% if not user.is_anonymous %}value='{{ user.username }}'{% endif %}
          required
        />
      </div>
      <div class="form-group">
        <label for="oldPassword"
          ><i class="required_input"></i>Old Password</label
        >
        <input
          type="password" autocomplete="current-password"
          class="form-control"
          id="oldPassword"
          name="oldPassword"
          placeholder="Enter Your Password"
          required
        />
      </div>
      <div class="form-group">
        <label for="newPassword"
          ><i class="required_input"></i>New Password</label
        >
        <input
          type="password" autocomplete="new-password"
          class="form-control"
          id="newPassword"
          name="newPassword"
          placeholder="Enter New Password"
          onfocus="fieldType(this, 'text')"
          onblur="fieldType(this, 'password')"
          required
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn my-4">Change</button>
      </div>
    </form>
  </div>
</section>

{% endblock mainContent %}