{% extends 'app/base.html' %}
{% block title %}Home - My To Do{% endblock title %}
{% block mainContent %}

<section id="section_1" class="container" aria-labelledby="TodoAdd-section">
  <h1 class="my-4" title="Todo Adding Section">Add Todo</h1>
  <div class="container_fluid py-4">
    <form action="/" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Enter Title"
          required
        />
        <label class="f-small-1" for="title"><i class="title required_input"></i>Title</label>
      </div>
      <div class="form-group">
        <textarea
          class="form-control"
          id="desc"
          name="desc"
          placeholder="Enter Description"
          spellcheck="true"></textarea>
          <label class="f-small-1" for="desc"><i class="description"></i>Description</label>
      </div>
      <div class="form-group btns-area my-3">
        <button type="submit" class="btn m-4">Add</button>
      </div>
    </form>
  </div>
</section>

<section id="todo-section" class="container">
  <h1 class="my-4" title="Added Todos Section">Todo List</h1>
  <div class="container_fluid todoListContainer">
    {% if todos|length <= 0 %}
    <div class="empty-alert alert-secondary w-100 text-center py-4" role="alert">
      No record found. Add your Todos now !
    </div>
    {% else %}
    <div class="container_fluid filterArea flex flex-SB flex-wrap a-center p-relative px-2">
      <div class="filterMenu flex flex-wrap j-center w-50">
        <button
          type="button"
          id="filterTodoBtn"
          class="filterBtn openDialogBtn btn show-pop-up-btn fsvBtn f-small-1  m-2 px-3"
          title="Filter Todos."
          onclick="showDialog('filterPopUp')"
        >Filter
        <i class="fa-solid fa-filter"></i>
        </button>
        <button
          type="button"
          id="sortTodoBtn"
          class="sortBtn fsvBtn btn f-small-1 m-2 px-3"
          title="Sort Todos in Ascending/Descending order."
          onclick="sortElems(false)"
        >Sort
          <i id="todoSortBtn" class="sortIcon fa-solid fa-arrow-down-1-9 mx-1"> </i>
        </button>
        <button
          type="button"
          id="changeViewTodoBtn"
          class="changeViewBtn fsvBtn btn f-small-1 m-2 px-3"
          title="Change View of Todo."
          onclick="changeTodoView(false)"
        >View
        <i id="todoChangeView" class="lni lni-page-break f-small-1 "></i>
          </i>
        </button>
        
        <dialog id="filterPopUp" class="popUpmodal pop-up">
          <button
            type="button"
            class="closeDialogBtn btn hide-pop-up-btn btn-close bg-none no-shadow no-outln f-small-1 m-1"
          >
            <i class="fa-solid fa-circle-xmark"></i>
          </button>
          <form method="dialog" class="dialogForm py-3 px-4">
            <h2 class="text-center">Filter Todos</h2>
            <div class="filterByDate container_fluid pop-up-data flex j-center no-wrap flex-column mt-3">
              <h4>Filter by Date</h4>
              <div class="form-group">
                <input
                  type="date"
                  name="minDateBox"
                  id="minDateBox"
                  class="sortingByDate p-2"
                />
                <label class="f-small-1" for="minDateBox">From</label>
              </div>
              <div class="form-group">
                  <input
                  type="date"
                  name="maxDateBox"
                  id="maxDateBox"
                  class="sortingByDate p-2"
                />
                <label class="f-small-1" for="maxDateBox">To</label>
              </div>
              <div class="form-group">
                <span class="btnsContainer flex a-center j-center">
                  <button
                    type="button"
                    name="sortingByDateBtn"
                    id="filterByDateBtn"
                    class="btn btn-secondary p-box boxBig filterByDateBtn"
                    title="Filter Todos."
                    onclick="FilterData()"
                  >
                    <i class="fa-solid fa-filter"></i>
                  </button>
                  <button
                    type="button"
                    name="clearSortingByDateBtn"
                    id="clearSortingByDateBtn"
                    class="btn btn-secondary p-box boxBig clearSortingByDateBtn"
                    title="Clear Filter."
                    onclick="clearDataFilter()"
                  >
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </span>
              </div>
            </div>
          </form>
        </dialog>
      </div>
      <form class="form-inline flex flex-right my-2 mx-4">
        <input
          class="form-control mr-sm-2"
          id="searchBoxMain"
          type="search"
          title="Search Todos."
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
    <div class="container_fluid flex flex-SB px-2">
      <div class="changePages flex flex-SA flex-wrap">
        <div class="pageSelectTitle flex a-center h4 m-2" title="Go To Page">
          Page :-
        </div>
        <div
          class="pageSelectionArea flex j-end a-center f-big-2"
          id="pageSelectionArea1"
          data-todo-count="{{ todos|length }}"
        ></div>
      </div>
    </div>
    <div id="todoList" class="container_fluid todoList p-3">
      {% for todo in todos %}
      <div id="todo_{{ forloop.counter }}"
      class="todoBody" data-created-date="{{ todo.todoTime|date:"Y-m-d" }}"
      data-srch-match="true" data-between-dates="true" >
      <div
        id="todoCellIndex_{{ forloop.counter }}"
        class="todoSno todoCell f-small-1"
        title="Todo Serial No."
      >
        <span>{{ forloop.counter }}.
      </div>
      <div
        id="todoCellTitle_{{ forloop.counter }}"
        class="todoTitle todoCell searchable f-big-1"
        title="Todo Title."
      > 
        {{todo.title}}
      </div>
      <div
        id="todoCellDesc_{{ forloop.counter }}"
        class="todoDesc todoCell searchable f-small-1"
        title="Todo Body Text."
      >
        {{ todo.description }}
      </div>
      <div
      id="todoCellBtns_{{ forloop.counter }}"
        class="todoEditBtns todoCell"
        style="text-align: right"
        title="Make Changes in Todos."
      >
      <a
          href="{% url 'updateTodo' todo_id=todo.id %}"
          class="updateTodo todoEditBtn btn btn-outline-dark m-2 p-box boxBig"
          title="Update Todo"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <a
          href="{% url 'deleteTodo' todo_id=todo.id %}"
          class="deleteTodo todoEditBtn btn btn-outline-dark m-2 p-box boxBig"
          title="Delete Todo"
        >
        <i class="fa-solid fa-trash"></i>
        </a>
      
    </div>
    <div
      id="todoCellDateTime_{{ forloop.counter }}"
      class="todoTime todoCell f-small-3"
      title="Todo Created Timing."
    >
    {{ todo.todoTime|date:"D d M Y , h:i:s A" }}</span>
    </div>
    </div>
    {% endfor %}
    <div id="todoBody" class="todoBody todoEmpty a-center flex-SA">
      <div colspan="5" class="noTodo todoCell vert-mid text-center">
        <i>Todos Not Found ! </i>
      </div>
    </div>
  </div>
  <div class="container_fluid flex j-end px-2">
    <div class="changePages flex flex-SA flex-wrap">
      <div class="pageSelectTitle flex a-center h4 m-2" title="Go To Page">
        Page :-
      </div>
      <div
        class="pageSelectionArea flex j-end a-center f-big-2"
        id="pageSelectionArea2"
        data-todo-count="{{ todos|length }}"
      ></div>
    </div>
  </div>
    {% endif %}
</section>

{% endblock mainContent %}
