{% extends 'app/base.html' %} 
{% block title %}Sign Up - My To Do{% endblock title %}
{% block mainContent %}

<section id="section_1" class="container" aria-labelledby="SignUp-section">
  <h1 class="my-4">Sign Up</h1>
  <div class="container_fluid">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input
          type="text" autocomplete="given-name"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter Your First Name"
          minlength="2"
          required
        />
        <label for="firstName"><i class="required_input"></i>First Name</label>
      </div>
      <div class="form-group">
        <input
          type="text" autocomplete="family-name"
          class="form-control"
          id="lastName"
          name="lastName"
          placeholder="Enter Your Last Name"
          minlength="2"
        />
        <label for="lastName"><i class="required_input"></i>Last Name</label>
      </div>
      <div class="form-group">
        <input
          type="text" autocomplete="email"
          class="form-control"
          id="emailId"
          name="emailId"
          placeholder="Enter Your E-Mail ID"
          required
        />
        <label for="emailId"><i class="required_input"></i>E-Mail ID</label>
      </div>
      <div class="form-group">
        <input
          type="password" autocomplete="new-password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter New Password"
          minlength="8"
          maxlength="20"
          onfocus="fieldType(this, 'text')"
          onblur="fieldType(this, 'password')"
          required
        />
        <label for="password"
          ><i class="required_input"></i>Create Password</label
        >
      </div>
      <div class="form-group">
        <input
          type="password" autocomplete="new-password"
          class="form-control j-start"
          id="confPassword"
          name="confPassword"
          placeholder="Re-Enter New Password"
          minlength="8"
          maxlength="20"
          required
        />
        <label for="confPassword"
          ><i class="required_input"></i>Verify Password</label
        >
        <small id="passwordHelpBlock" class="form-text text-muted a-self-start q-text-center f-italic px-3 mx-4 pb-1">
          Tip: Your password must be 8-20 characters long, contain letters and numbers, special characters, and must not contain spaces or emoji.
        </small>
      </div>
      <div class="form-group flex-right j-end my-1">
        <small class="f-italic text-center pb-1"><a href="/login" class="auth-link mx-4"
          >Already have an account !? Log In Now !</a
        ></small>
      </div>
      <div class="form-group btns-area">
        <button type="submit" class="btn my-4">Sign Up</button>
      </div>
    </form>
  </div>
</section>

{% endblock mainContent %}
