@media screen and (max-width: 991.9px) {
  .navbar-toggler {
    display: inline-block;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    padding: 0 !important;
    background-color: var(--main-app-theme-color);
  }
  .container.flex-SB.flex-wrap {
    justify-content: space-around !important;
  }

  h1 {
    text-align: center;
  }

  li,
  ul {
    width: 100% !important;
    flex-wrap: wrap;
    justify-content: center;
  }

  li > a {
    width: 100%;
    max-width: 700px;
  }

  li > ul.inUl {
    display: none !important;
    position: relative !important;
  }
}

@media screen and (max-width: 400px) {
  .filterArea,
  .filterMenuBnt {
    justify-content: space-around;
  }
  .container,
  .pageSelectionArea {
    flex-wrap: wrap;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
  }
}
