.todoListContainer{
  font-family: var(--app-font-family-1);
}

.todoList {
  width: fit-content;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  gap: 0.75em;
  flex-flow: row wrap;

  border-radius: var(--min-border-radius);
  box-shadow: inset 0 0 .25rem var(--main-app-color);
  overflow-x: auto;
}

@supports(grid-template-rows: masonry){
.todoList {
  display: grid;
   align-items: flex-start;
   flex-flow: row wrap;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: masonry;
  align-tracks: stretch;
}
.todoList > * {
  break-inside: avoid;
  margin-bottom: 0.75em;
}
}

.todoBody {
  min-width: 280px;
  min-height: 280px;
  max-width: 100%;
  position: relative;
  display: flex;
  gap: 0.5em;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  padding: 2em;
  border: 2px solid var(--main-app-color-2) !important;
}

.todoCell {
  position: relative;
  line-height: 1.75em;
  min-width: 50%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  overflow-x: auto;
}

.todoTitle,
.todoDesc {
  overflow-wrap: break-word;
}
.todoSno,
.todoTime {
  position: absolute;
  white-space: nowrap;
}
.todoSno {
  top: 0.5em;
  left: 0.5em;
  justify-content: flex-start;
}
.todoTime {
  right: 0.5em;
  bottom: 0.5em;
  justify-content: flex-end;
  font-style: italic;
}
.todoEditBtns{
    overflow: hidden;
}
